.Rproj.user
.Rhistory
.RData
.Ruserdata
.local/share/jupyter/runtime/nbserver-1681.json
.local/share/jupyter/runtime/nbserver-1681.json
.local/share/jupyter/runtime/nbserver-1681.json
Unit 4 Homework/EducationData.csv
